absl-py==1.4.0
app==0.0.1
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
beautifulsoup4==4.11.2
blis==0.7.9
blueprint==3.4.2
cachelib==0.10.2
cachetools==5.3.0
catalogue==2.0.8
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
confection==0.0.4
configparser==5.3.0
contourpy==1.0.7
cryptography==39.0.2
cycler==0.11.0
cymem==2.0.7
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==5.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
et-xmlfile==1.1.0
exceptiongroup==1.1.0
Flask==2.2.3
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.3
flatbuffers==23.3.3
fonttools==4.38.0
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.3
gunicorn==20.1.0
h11==0.14.0
h5py==3.8.0
html5lib==1.1
idna==3.4
itsdangerous==2.1.2
jax==0.4.8
Jinja2==3.1.2
joblib==1.2.0
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==15.0.6.1
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.0
ml-dtypes==0.0.4
murmurhash==1.0.9
nltk==3.8.1
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
pandas==1.3.5
pathy==0.10.1
Pillow==9.4.0
plotly==5.13.0
preshed==3.0.8
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.7.1
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
selenium==4.8.0
six==1.16.0
sklearn==0.0.post1
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.5.post1
srsly==2.4.6
tenacity==8.1.0
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
thinc==8.1.9
threadpoolctl==3.1.0
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.9.2
typer==0.7.0
typing_extensions==4.5.0
urllib3==1.26.14
wasabi==1.1.1
webencodings==0.5.1
Werkzeug==2.2.2
wincertstore==0.2
wrapt==1.14.1
wsproto==1.2.0
zope.interface==5.5.2
certif==2022.12.7
